 <!-- CABECALHO  -->
 <ion-header>
  <ion-toolbar class="bg-black">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-back-button defaultHref="/">VOLTAR</ion-back-button>
    </ion-buttons>
    <ion-title>Sobre o Sistema</ion-title>
  </ion-toolbar>
</ion-header>

<!-- SOBRE  -->
<ion-content [fullscreen]="true">
  <ion-list class="item-content" >
      <div class="page-content">
          <div class="card card-style">
              <div class="content text-center mb-n2">
                  <img src="../../../assets/../../../assets/images/days/photo2.png" width="130" class="rounded-circle mb-n3 d-block mx-auto">
                  <p class="mb-n3 font-11 badge bg-red-dark text-uppercase">Engineer Developer</p>
                  <h1 class="pt-2 mb-n1 font-26">Herivelto Gabriel</h1>
                  <p class="mb-4 font-11 opacity-50"><i class="fa fa-map-marker pe-2"></i> Brasília, Brazil</p>
                  <br/>
                  <h1 class="bg-red-dark" >Quantos dias?</h1>
                  <p>
                     Contar dias de uma memória, sempre que quiser lembrar quanto tempo fez alguma coisa, crie um card que ele contará dia a dia para você. 
                     <br/>
                     Senão for mais necessário, apenas arquive ele para não perder a memória. 
                  </p>
                  <p>
                 </p>
                  <div class="text-center mb-4">
                      <a href="#" class="icon icon-xs bg-facebook rounded-sm"><i class="fab fa-facebook-f"></i></a>
                      <a href="#" class="icon icon-s mx-2  bg-linkedin rounded-sm shadow-xl"><i class="fab fa-linkedin-in"></i></a>
                      <a href="#" class="icon icon-xs bg-instagram rounded-sm"><i class="fab fa-instagram"></i></a>
                      <a href="#" class="pt-2 d-block color-theme opacity-30">heriveltogabriel@gmail.com</a>
                  </div>
              </div>
          </div>
      </div>
  </ion-list>
</ion-content> 
  